body {
	background: url(http://www.eonline.com/eol_images/Entire_Site/201627/rs_634x940-160307074539-634.captain-america-civil-war-poster-chris-evans-robert-downey-jr.3716.jpg);
}
section {
	position: relative;
	width: 1310px;
	height: 1300px;
	background-color: gray;
	margin: 0 auto;
	margin-top: 30px;
}
header {
	width: 1290px;
	height: 100px;
	background-color: blue;
	margin: 10px;
	margin-top: 10px; 
	position: relative;
}
#player {
	width: 200px;
	height: 40px;
	left: 150px;
	top: 36px;
	background-color: yellow;
	position: absolute;
	text-align: center;
	line-height: 36px;
}
#scoreboard {
	width: 200px;
	height: 40px;
	right: 150px;
	top: 36px;
	background-color: orange;
	position: absolute;
	text-align: center;
	line-height: 36px;
}
.main {
	width: 1250px;
	height: 1060px;
	background-color: black;
	margin: 10px;
	line-height: 300px;
	font-size: 150px;
	text-align: center;
}
.square {
	width: 300px;
	height: 300px;
	margin-top: 25px;
	display: inline-block;
	background-color: white;
	color: white;
}
#pos1, #pos2, #pos3, #pos4, #pos5, #pos6 {
	border-bottom: 25px solid black;
}

footer {
	width: 1290px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: green;
	margin: 10px;	
}
button {
	width: 200px;
	height: 50px;
	background-color: blue;
	text-align: center;
}
